<!doctype html>
{%extends 'layout.html'%} <!--Para los cambios en el nav bar y etc-->
{%block content%}

<html>
<body>
    <h2>Si todo está en orden, descarga <a href="{{url_for( 'download_file',pdf_name='peticion_'+nom_peticionario[:4]+ced_peticionario[:-3]+'.pdf' ) }}">aquí</a> tu Poder en PDF</h2>sgdsdfgs  2021-10-06<br> 
<br>
Señores.<br>
asdca<br>
None<br>
d@df<br>
<br>
Referencia: Derecho de Petición de JUAN JU a asdca para asuntooo<br>
<br>
JUAN JU, identificado con C.C. número 12341241 de sdfgs, en <br>calidad de Ciudadano; de conformidad con el artículo 23 de la Constitución Política de Colombia de 1991, y del <br>título segundo de la parte primera del Código de Procedimiento Administrativo y de lo Contencioso Administrativo (Ley 1437 de 2011);<br> interpongo el siguiente Derecho de Petición basado en los siguientes:<br>
<br>

I) Hechos.<br>
<br>
asdfa<br>
<br>

II) Petición.<br>

En mérito de lo expuesto, se solicita a asdca que:<br>
Petición <br>
asdfasf<br>
<br>
III) Notificaciones.<br>
<br>
Se podrá notificar en cualquiera de las siguientes direcciones.<br>
<br>
carrera<br>
<br>
sdDA@asfas<br>
<br>
<br>
IV) Firma.<br>
<br>
El presente documento se suscribe de conformidad con el artículo 7 de la Ley 527 de 1999, y con la presunción contemplada <br>en el artículo 244 de la Ley 1564 de 2012 (Código General del Proceso).<br>

<br>

Sin otro particular, <br>

JUAN JU<br>
C.C. número 12341241</body>
</html>

{%endblock%}